@import '../common.scss';

.mainContainer {
  position: relative;
  width: 90%;
  height: 80vh;
  @include flex();
  img {
    height: 60vh;
  }
  div {
    position: absolute;
    background-color: white;
    width: 8rem;
    height: 6rem;
    border-radius: $radius-s;
    border: 1px solid $lightgray;
    @include flex();
    span {
      position: absolute;
      color: $theme-blue-2;
    }
  }
  .outerBox {
    top: 25%;
    left: 50%;
  }
  .topBox {
    top: 30%;
    left: 10%;
  }
  .pantsBox {
    top: 60%;
  }
  .shoesBox {
    top: 80%;
  }
  .accessoryBox {
    top: 15%;
    width: 4rem;
    height: 3rem;
  }
}
.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.uploadButton {
  width: 4rem;
  height: 3rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}
