/* common.scss */
@import '../common.scss';

/* calendar.module.scss */
.h1 {
  @include flex();
}
.all {
  width: 100vh;
  height: 60%;
}
.today,
.selectedDate {
  background-color: yellow;
}

.calendar-container {
  width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-title {
  font-size: 20px;
  font-weight: bold;
}

.calendar-buttons {
  display: flex;
}

.calendar-buttons button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.calendar-buttons button:hover {
  background-color: #45a049;
}

.calendar-body table {
  width: 100%;
  border-collapse: collapse;
}

.calendar-body th,
.calendar-body td {
  padding: 10px 0;
  text-align: center;
}

.calendar-body .empty-cell {
  visibility: hidden;
}
.calendar-buttons button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.calendar-buttons button:hover {
  background-color: #45a049;
}

/* 코디 확인하기 버튼 스타일 */
.selected-date-box {
  margin-top: 20px;
}

.selected-date-box button {
  background-color: #2196f3;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.selected-date-box button:hover {
  background-color: #0b7dda;
}

/* 코디 등록하기 버튼 스타일 */
.selected-date-box a button {
  background-color: #ff5722;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.selected-date-box a button:hover {
  background-color: #e64a19;
}
